body{
  font-family: 'Montserrat';
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}
/* Common Headings */
.big-heading{
  font-size: 3.5rem;
  font-weight: 900;
  margin: 5% auto;
}
.section-heading{
  font-size: 3rem;
  font-weight: 900;
}
/* Common padding*/
.padding515{
  padding:5% 15%;
}
.container-fluid{
  padding: 3% 15% 5%;
}
/* Sections */
.colored-section{
  background-color: #FF4C68;
  color: #FFF;
}
.white-section{
  background-color: #FFF;
}
/* Title section */
#title{
  text-align: left;
}
/* Navigation bar */
.navbar-brand{
  font-size: 3rem;
  font-family: 'Ubuntu';
  font-weight: bold;
}
.navbar{
  padding: 0 0 3.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-weight: normal;
}
/* Download buttons*/
.download-button{
  margin: 5% 3% 5% 0;
}
/* Title image */
.title-img{
  transform: rotate(25deg);
  width: 60%;
  position: relative;
  left: 70px;
}
/* Feature  icons */
#features{
  text-align: center;
  position:relative;
  bottom: 150px;
  margin-bottom: -150px;
}
.feature-icon{
  margin: 2rem 0;
  color: #EF8172;
  font-size: 4rem;
}
.feature-icon:hover{
  color: #FF4C68;
}
.f-header{
  font-weight: 500;
  font-size: 1.5rem;
}
.f-text{
  color: #8F8F8F;
}
/* Testimonial section */
.testimonial-img{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}
/* Pricing */
.price-column{
  padding: 3% 2%;
}
.pricing-title{
  color: #FF4C68;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.5rem auto;
}
.pricing-subtitle{
  font-size: 1rem;
  color: #8F8F8F;
}
.price-card:hover{
  background-color: #FF4C68;
  color: #FFF;
}
/* Call to Action */


/* Footer */
#footer{
  color: #8F8F8F;
  padding: 5% 15%;
}
.footer-link{
  margin: 10px 15px;
  font-size: 3rem;
}

@media (max-width: 1028px ){
  .title-img{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
